body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Fondo suave azul marino */
    color: #333;
}

header {
    text-align: center;
    padding: 60px 0;
    background-color: #00796b; /* Azul verdoso */
}

.header-content h1 {
    font-family: 'Lobster', cursive;
    margin: 0;
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}

nav {
    background-color: #004d40; /* Azul más oscuro */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 15px 0;
    font-size: 1.2em; /* Aumentar tamaño de la letra */
}

nav ul li a:hover {
    background-color: #00332e; /* Azul más oscuro al pasar el mouse */
    border-radius: 5px;
    transition: background-color 0.3s;
}

main {
    padding: 20px;
}

.pestaña {
    display: none;
}

.pestaña:target {
    display: block;
}

.subnav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #004d40;
}

.subnav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.1em; /* Aumentar tamaño de la letra */
}

.subnav ul li a:hover {
    background-color: #00332e;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.subpestaña {
    display: none;
}

.subpestaña:target {
    display: block;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.gallery img {
    max-width: 30%;
    height: auto;
    border-radius: 5px;
}

blockquote {
    font-style: italic;
    color: #555;
    border-left: 5px solid #0288d1; /* Azul océano */
    padding-left: 10px;
    margin-left: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input:focus, form textarea:focus {
    border-color: #0288d1;
}

form button {
    background-color: #0288d1;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0277bd;
    transition: background-color 0.3s;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #004d40;
    color: white;
}